/* Global */

html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.animate__animated {
  display: inline-block;
  --animate-duration: 2s;
}

.lead {
  font-weight: 400;
}

/* Header */
header {
  background-image: linear-gradient(#00000090, #00000090), url(images/header.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.logo {
  height: 40px;
}

.navbar-nav .nav-item a {
  font-weight: 500;
}

.navbar-nav .nav-item a:hover {
  animation: pulse;
  animation-duration: 1s;
}

.header-center {
  position: absolute;
  width: 100%;
  max-width: 750px;
  min-width: 300px;
  height: auto;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.header-center h1 {
  font-size: 270%;
  text-transform: uppercase;
  animation: fadeInDown;
  animation-duration: 2s;
  font-weight: 400;
}

.header-center button {
  animation: fadeInUp;
  animation-duration: 1.5s;
}

/* All section */

.section-title h2 {
  font-weight: 500;
}

/* about_us */
#about_us {
  color: black;
  text-width: 300;
}

/* online_order */
#online_order {
  background-color: #d5d5d5;
  text-width: 300;
}

.fg-mobile {
  max-width: 300px;
}

.app_download {
  max-width: 175px;
}

/* branches */
#branches .card:hover {
  animation: pulse;
  animation-duration: 1s;
}

/* testimonial */

#testimonials {
  background-image: linear-gradient(#00000090, #00000090), url(images/testimonial-bg.jpg);;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#testimonials .card {
  background-color: inherit;
  color: white;
  border: none;
}


/* membership */
#membership {
  background-image: linear-gradient(orange, coral, yellow);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#membership .card {
  border: none;
}

#membership .card h4 {
  font-weight: 500;
}

#membership .card:hover {
  animation: pulse;
  animation-duration: 1s;
}

.price {
  font-size: 40px;
}

/* footer */

footer {
  color: white;
  background-color: black;
}

footer ul{
  list-style: none;
}

footer ul li{
  margin-top: 5px;
}

footer h6 {
  color: gray;
  text-transform: uppercase;
}

footer .app_download {
  border: 2px solid white;
  margin: 10px;
}

.top-border {
  border-top: 2px solid gray;
}

.social-links li{
  display: inline-block;
  margin-right: 18px;
  font-size: 18px;
}

.social-links li a{
  color: white;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-pinterest:hover {
  color: #e60023;
}

.fa-instagram:hover {
  color: #8134af;
}

.fa-twitter:hover {
  color: #00acee;
}
